<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>Zex</string>
	<key>CFBundleGetInfoString</key>
	<string>Zex (C)LSG 2015</string>
	<key>CFBundleIconFile</key>
	<string>Zex_Icon</string>
	<key>CFBundleIdentifier</key>
	<string>co.uk.lightsoft.zex</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.99.7</string>
	<key>CFBundleSignature</key>
	<string>LSZX</string>
	<key>CFBundleVersion</key>
	<string>0.99.7</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.arcade-games</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
</dict>
</plist>
